body{
    background-color: mediumaquamarine;
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 97vh;
    align-items: center;
    justify-content: center;
    gap: 0.2vh;  
}

.row{
    display: flex;
    gap: 0.2vh
}   

.square{
    
    background-color: white;
    aspect-ratio: 1 / 1;
}

.color{
    background-color: red;
}